.link{
	cursor: pointer;
	text-decoration: underline;
	&:hover{
		opacity: 0.8;
	}
}

.btn{
	padding: 24px 48px;
	border-radius: 99px;
	font-weight: 700;
	display: inline-block;
	background-color: $blue;
	color: $white;
	box-shadow: 0px 7px 16px 0px rgba(63, 105, 255, 0.50), 0px 4px 8px 0px rgba(63, 105, 255, 0.30), 0px 2px 4px 0px rgba(63, 105, 255, 0.50);
	&:hover{
		background: rgb(63, 105, 255, 0.9);
		text-decoration: none;
	}
}

.btn-2{
	padding: 16px 48px;
	border-radius: 99px;
	background-color: $black;
	color: $white;
	font-family: "FixelDisplay-SemiBold";
	line-height: 120%;
	&:hover{
		background: rgb(43, 43, 66, 0.9);
	}
}