.header {
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
		@media (max-width:625px) {
		    justify-content: center;
		}
	}
	&__btn{
		@media (max-width:625px) {
		    display: none;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.fScreen {
	padding-top: 16px !important;
	&__bg{
		margin-bottom: -64px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 64px;
		gap: 32px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 100%);
		border: 1px solid #FFFFFF;
		backdrop-filter: blur(16px);
		border-radius: 64px;
		text-align: center;
		@media (max-width:#{$md3}px) {
			padding: 32px;
			border-radius: 32px;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		text-align: left;
		> * {
			flex: 1;
			min-width: 250px;
		}
		img{
			max-width: 100%;
			height: auto;
			&.fScreen__w-100{
				width: 100%;
				max-width: auto;
			}
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 32px;
		gap: 64px;
		background: rgba(43, 43, 66, 0.1);
		border-radius: 32px;
		height: 100%;
	}
}

///////////////////////////////////////////////////////////////////////////////

.workPlan {
	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 84px;
		> * {
			flex: 1;
		}
		@media (max-width:#{$md1}px) {
			gap: 32px;
		}
		@media (max-width:861px) {
			flex-direction: column;
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		gap: 32px;
		&_2{
			align-self: center;
		}
		&_3{
			@media (min-width:861px) {
				padding-top: 100px;
			}
		}
	}
	&__card {
		padding: 32px;
		box-shadow: 0px 2.2px 1.6px rgba(15, 15, 15, 0.02), 0px 5px 3px rgba(15, 15, 15, 0.03), 0px 10px 7px rgba(15, 15, 15, 0.04), 0px 17px 13px rgba(15, 15, 15, 0.05), 0px 33px 25px rgba(15, 15, 15, 0.06), 0px 80px 60px rgba(15, 15, 15, 0.08);
		border-radius: 32px;
		ol{
			margin-left: 16px;
			li{
				padding-left: 2px;
			}
		}
		&_black {
			background: $black;
			color: $white;
		}
		&_white {
			background: $white;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.details {
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 64px;
		gap: 32px;
		isolation: isolate;
		background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(43, 43, 66, 0.3) 53.65%), #2B2B42;
		border-radius: 64px;
	}
	svg{
		//margin: -60px -60px 0 -20px;
		box-shadow: 0px 4px 32px rgba(43, 43, 66, 0.5);
		transform: rotate(-15deg);
	}
}

///////////////////////////////////////////////////////////////////////////////

.readyToOrder {
	&__body {
		color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 64px;
		border-radius: 64px;
		gap: 32px;
		background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(43, 43, 66, 0.3) 53.65%), #2B2B42;
		@media (max-width:#{$md3}px) {
			padding: 32px;
			border-radius: 32px;
			gap: 16px;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width:#{$md3}px) {
	    align-items: flex-end;
	}
	z-index: 100;
	display: none;
	&.active{
		display: flex;
	}
	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__body{
		position: relative;
		z-index: 3;
		background-color: $white;
		border-radius: 32px;
		padding: 32px;
		@media (max-width:#{$md3}px) {
		    border-radius: 32px 32px 0px 0px;
		    padding: 32px;
		    width: 100%;
		    transform: translateY(100%);
		}
		&.show{
			@media (max-width:#{$md3}px) {
			    animation: show-popup 0.15s forwards 0s ease;
			}
		}
		&.hide{
			@media (max-width:#{$md3}px) {
			    animation: hide-popup 0.15s forwards 0s ease;
			}
		}
	}
}

@keyframes show-popup {
	0% {transform: translateY(100%);}
 	100% { transform: translateY(0%);}
}

@keyframes hide-popup {
	0% {transform: translateY(0%);}
 	100% { transform: translateY(100%);}
}

.socialsList{
	display: flex;
	flex-wrap: wrap;
	margin: -16px;
	&__col{
		padding: 16px;
		flex: 1 0 50%;
		@media (max-width:#{$md3}px) {
		    padding: 8px;	
		}
	}
}

.socials{
	background-color: $lightGray;
	border-radius: 24px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width:#{$md3}px) {
		padding: 24px;
		border-radius: 16px;
	}
	&:hover{
		text-decoration: none;
		background: rgba(136, 136, 158, 0.15);
	}
	&__text{
		margin-top: 16px;
	}
	&__telegram{
		width: 100px;
		height: 100px;
		@media (max-width:#{$md3}px) {
		    width: 64px;
		    height: 64px;
		}
	}
	&__viber{
		background: $black;
		border-radius: 99px;
		width: 100px;
		height: 100px;
		padding: 18px;
		img{
			width: 100%;
			height: 100%;
		}
		@media (max-width:#{$md3}px) {
		    width: 64px;
		    height: 64px;
		}
	}
	&__email{
		background: #2B2B42;
		border-radius: 28px;
		width: 100px;
		height: 100px;
		padding: 18px;
		img{
			width: 100%;
			height: 100%;
		}
		@media (max-width:#{$md3}px) {
		    width: 64px;
		    height: 64px;
		    border-radius: 16px;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.footer {
	padding: 48px 0;
	@media (max-width:#{$md3}px) {
		padding: 16px 0;
	}
	&__row {
		display: flex;
		@media (max-width:#{$md2}px) {
		    flex-direction: column;
		}
	}
	&__col{
		flex: 1;
		padding: 16px;
		> *:not(:last-child){
			margin-bottom: 16px;
		}
		a{
			display: inline-block;
		}
		.link-text{
			@media (max-width:#{$md4}px) {
			    display: none;
			}
		}
	}
	&__socials{
		display: flex;
		.socials{
			&__telegram{
				width: 48px;
				height: 48px;
				margin-right: 32px;
			}
			&__viber{
				display: inline-block;
				width: 48px;
				height: 48px;
				padding: 12px;
				border-radius: 99px;
			}
		}
	}
}

///////////////////////////////////////////////////////////////////////////////