.header {
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px;
		@media (max-width:625px) {
		    justify-content: center;
		}
	}
	&__btn{
		@media (max-width:625px) {
		    display: none;
		}
	}
}

.logoSvg{
	font-family: "FixelDisplay-Medium";
}

///////////////////////////////////////////////////////////////////////////////

.fScreen {
	padding-top: 16px !important;
	&__bg{
		margin-bottom: -64px;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 64px;
		gap: 32px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #FFFFFF 100%);
		border: 1px solid #FFFFFF;
		backdrop-filter: blur(16px);
		border-radius: 64px;
		text-align: center;
		@media (max-width:#{$md3}px) {
			padding: 32px;
			border-radius: 32px;
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		text-align: left;
		> * {
			flex: 1;
			min-width: 250px;
		}
		img{
			max-width: 100%;
			height: auto;
			&.fScreen__w-100{
				width: 100%;
				max-width: auto;
			}
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 32px;
		gap: 38px;
		background: rgba(43, 43, 66, 0.1);
		border-radius: 32px;
		height: 100%;
	}
}


.fScreenCard{
	display: inline-block;
	position: relative;
	&__mark{
		position: absolute;
		z-index: 2;
		top: 86px;
		left: 141px;
	}
	.logoSvg{
		position: absolute;
		top: 72px;
		left: 40px;
		transform: rotate(-15deg);
		text{
			font-family: "FixelDisplay-Bold";
		}
	}
}


.subjects{
	height: 120px;
	position: relative;
	&__item{
		position: absolute;
		top: 0;
		left: 0;
		fill: $black;
		opacity: 0;
		height: 89px;
		&_1{
			width: 134.5px;
			animation: subjects 5s infinite;
		}
		&_2{
			width: 94px;
			transform: translateX(120px);
			animation-delay: 500ms;
			animation: subjects2 5s infinite;
		}
		&_3{
			width: 80px;
			transform: translateX(240px);
			animation-delay: 1000ms;
			animation: subjects2 5s infinite 0.5s;
		}
		&_4{
			width: 89px;
			transform: translateY(100px);
			animation: subjects2 5s infinite 1s;
		}
		&_5{
			width: 55.5px;
			transform: translate(120px, 100px);
			animation: subjects2 5s infinite 1.5s;
		}
		&_6{
			width: 129.5px;
			transform: translate(240px, 100px);
			animation: subjects2 5s infinite 2s;
		}
	}
}

@keyframes subjects {
	0%{opacity: 0;}
	59%{opacity: 0;}
	60%{opacity: 1;}
	100%{opacity: 1;}
}

@keyframes subjects2 {
	0%{opacity: 1;}
	10%{opacity: 1;}
	11%{opacity: 0;}
	100%{opacity: 0;}
}

.graph{
	width: 100%;
}

.anim-graph._active{
	.graph{
		rect:nth-child(1){ animation: rect1 2s forwards; }
		rect:nth-child(2){ animation: rect2 2.5s forwards; }
		rect:nth-child(3){ animation: rect3 1s forwards; }
		rect:nth-child(4){ animation: rect4 2.5s forwards; }
		rect:nth-child(5){ animation: rect5 3s forwards; }
		rect:nth-child(6){ animation: rect6 1.5s forwards; }
		rect:nth-child(7){ animation: rect7 0.5s forwards; }
		rect:nth-child(8){ animation: rect8_9 1.5s forwards; }
		rect:nth-child(9){ animation: rect8_9 2.5s forwards; }
		rect:nth-child(10){ animation: rect10 2s forwards; }
		rect:nth-child(11){ animation: rect11 1.5s forwards; }
		rect:nth-child(12){ animation: rect12 1s forwards; }
	}
}

@keyframes rect1 { 
	0%{ height: 0; y: 89; }
	100%{ height: 89; y: 0; }
}

@keyframes rect2 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 22; y: 67.7129; }
}

@keyframes rect3 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 61; y: 28.7129; }
}

@keyframes rect4 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 37; y: 52.7129; }
}

@keyframes rect5 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 78; y: 11.7129; }
}

@keyframes rect6 { 
	from{ height: 0; y: 89.712891; }
	to{ height: 89; y: 0.712891; }
}

@keyframes rect7 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 68; y: 21.7129; }
}

@keyframes rect8_9 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 56; y: 33.7129; }
}

@keyframes rect10 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 61; y: 28.7129; }
}

@keyframes rect11 { 
	from{ height: 0; y: 89.712891; }
	to{ height: 89; y: 0.712891; }
}

@keyframes rect12 { 
	from{ height: 0; y: 89.7129; }
	to{ height: 68; y: 21.7129; }
}

///////////////////////////////////////////////////////////////////////////////

.workPlan {
	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 84px;
		> * {
			flex: 1;
		}
		@media (max-width:#{$md1}px) {
			gap: 32px;
		}
		@media (max-width:861px) {
			flex-direction: column;
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		gap: 32px;
		&_2{
			align-self: center;
		}
		&_3{
			@media (min-width:861px) {
				padding-top: 100px;
			}
		}
	}
	&__card {
		padding: 32px;
		box-shadow: 0px 2.2px 1.6px rgba(15, 15, 15, 0.02), 0px 5px 3px rgba(15, 15, 15, 0.03), 0px 10px 7px rgba(15, 15, 15, 0.04), 0px 17px 13px rgba(15, 15, 15, 0.05), 0px 33px 25px rgba(15, 15, 15, 0.06), 0px 80px 60px rgba(15, 15, 15, 0.08);
		border-radius: 32px;
		ol{
			margin-left: 16px;
			li{
				padding-left: 2px;
			}
		}
		&_black {
			background: $black;
			color: $white;
		}
		&_white {
			background: $white;
		}
	}
}

.hoverTrigger{
	&:hover + .hoverModal{
		transition: opacity 0.15s;
		opacity: 1;
	}
}

.hoverModal{
	position: absolute;
	top: 25%;
	right: -520px;
	padding: 32px;
	width: 500px;
	background: $white;
	box-shadow: 0px 2.2px 1.6px rgba(15, 15, 15, 0.02), 0px 5px 3px rgba(15, 15, 15, 0.03), 0px 10px 7px rgba(15, 15, 15, 0.04), 0px 17px 13px rgba(15, 15, 15, 0.05), 0px 33px 25px rgba(15, 15, 15, 0.06), 0px 80px 60px rgba(15, 15, 15, 0.08);
	border-radius: 32px;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.15s ease 0.3s;
	&:after{
		content: "";
		top: calc(50% - 80px);
		left: -18px;
		position: absolute;
		width: 20px;
		height: 160px;
		background: url("data:image/svg+xml,%3Csvg width='20' height='160' viewBox='0 0 20 160' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 0C20 40 11 66 0 80H20L20 0ZM20 160C20 120 11 94 0 80H20L20 160Z' fill='white'/%3E%3C/svg%3E");
	}
	@media (max-width:862px) {
		right: 0;
		top: auto;
		transform: translateY(100%);
		width: 100%;
		bottom: -20px;
		&:after{
			transform: rotate(90deg);
			top: -87px;
			left:100px;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.details {
	&__body {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 64px;
		gap: 32px;
		isolation: isolate;
		background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(43, 43, 66, 0.3) 53.65%), #2B2B42;
		border-radius: 64px;
		@media (max-width:#{$md3}px) {
			padding: 32px;
			border-radius: 32px;
		}
	}
	&__title{
		img{
			margin: -64px -60px -72px -14px;
			position: relative;
			z-index: 2;
			pointer-events: none;
			@media (max-width:1200px) {
				display: none;
			}
		}
	}
	&__row{
		display: flex;
		gap: 32px;
		.btn{
			padding: 24px 48px;
		}
		@media (max-width:580px) {
			flex-direction: column;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.cost{
	&__title{
		margin-bottom: 5px;
	}
	&__row{
		margin-top: 16px;
		display: flex;
		gap: 32px;
		> * {
			flex: 1;
		}
		@media (max-width:#{$md3}px) {
			flex-direction: column;
		}
	}
}

.receipt {
	width: 360px;
	height: 360px;
	background-color: $white;
	margin: 0 auto;
	padding: 32px;
	position: relative;
	box-shadow: 0px 2.2px 1.6px rgba(15, 15, 15, 0.02), 0px 5px 3px rgba(15, 15, 15, 0.03), 0px 10px 7px rgba(15, 15, 15, 0.04), 0px 17px 13px rgba(15, 15, 15, 0.05), 0px 33px 25px rgba(15, 15, 15, 0.06), 0px 80px 60px rgba(15, 15, 15, 0.08);
	@media (max-width:408px) {
		width: 100%;
	}
	&:before, &:after{
		content: "";
		position: absolute;
		width: 424px;
		height: 1px;
		left: calc(50% - 424px/2);
		@media (max-width:444px) {
			width: calc(100% + 32px);
			left: -16px;
		}
	}
	&:before{
		top: 0px;
		background: linear-gradient(270deg, rgba(43, 43, 66, 0) 0%, rgba(43, 43, 66, 0.5) 50.5%, rgba(43, 43, 66, 0) 100%);
		filter: drop-shadow(0px 18px 18px rgba(0, 0, 0, 0.25)) drop-shadow(0px 7.52px 7.52px rgba(0, 0, 0, 0.179714)) drop-shadow(0px 4.021px 4.02px rgba(0, 0, 0, 0.149027)) drop-shadow(0px 2.254px 2.254px rgba(0, 0, 0, 0.125)) drop-shadow(0px 1.197px 1.198px rgba(0, 0, 0, 0.100973)) drop-shadow(0px 0.498px 0.498px rgba(0, 0, 0, 0.0702864));
	}
	&:after{
		top: -1px;
		background: #DBDBDF;
	}
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		font-size: 14px;
		line-height: 16.8px;
		font-family: "IBM Plex Mono", monospace;
  		font-weight: 400;
		&_bold{
			font-weight: 600;
			color: rgba(43, 43, 66, 1) !important;
		}
	}
	&__title{
		color: rgba(43, 43, 66, 0.5);
	}
	&__price {
		white-space: nowrap;
		margin-left: 16px;
	}
	&__hr{
		@media (max-width:408px) {
			width: 100%;
		}
	}
	&__img{
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
	}
}

.itemCost {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 16px 32px;
	gap: 8px;
	border-radius: 16px;
	background-color: $white;
	line-height: 14px;
	white-space: nowrap;
	cursor: pointer;
	&__title {
		font-family: "FixelDisplay-SemiBold";
	}
	&__text {
		color: rgba(43, 43, 66, 0.5);
	}
	&_active {
		background-color: $black;
		.itemCost__title{
			color: $white;
		}
		.itemCost__text{
			color: rgba(255, 255, 255, 0.5);
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.ourServices {
	&__row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 32px;
		@media (min-width:1191px) {
			justify-content: space-between;
			padding-bottom: 70px;
			>:nth-child(1){ transform: translateY(75px); }
			>:nth-child(4){ transform: translateY(75px); }
			>:nth-child(7){ transform: translateY(75px); }
			>:nth-child(2){ transform: translateY(140px); }
			>:nth-child(5){ transform: translateY(140px); }
			>:nth-child(8){ transform: translateY(140px); }
		}
		@media (min-width:799px) and (max-width:1190px){
			padding-bottom: 70px;
			justify-content: space-around;
			//>:nth-child(even){ transform: translateY(75px); }
			//>:last-child{ transform: translateY(75px); }
			>:nth-child(1){ order: 1; }
			>:nth-child(2){ order: 4; transform: translateY(75px); }
			>:nth-child(3){ order: 2; transform: translateY(75px); }
			>:nth-child(4){ order: 3; }
			>:nth-child(5){ order: 6; transform: translateY(75px);}
			>:nth-child(6){ order: 7; }
			>:nth-child(7){ order: 5; }
			>:nth-child(8){ order: 8; }
			>:nth-child(9){ order: 9; transform: translateY(75px); }
		}
		@media (max-width:798px){
			>:nth-child(1){ order: 1; transform: translateX(-35px); }
			>:nth-child(2){ order: 2; transform: translateX(35px); }
			>:nth-child(3){ order: 3; transform: translateX(-35px); }
			>:nth-child(4){ order: 7; transform: translateX(-35px); }
			>:nth-child(5){ order: 5; transform: translateX(-35px); }
			>:nth-child(6){ order: 6; transform: translateX(35px); }
			>:nth-child(7){ order: 4; transform: translateX(35px); }
			>:nth-child(8){ order: 8; transform: translateX(35px); }
			>:nth-child(9){ order: 9; transform: translateX(35px); }
		}
		@media (max-width:508px){
			> * {
				transform: translateX(0px) !important;
				height: 210px;
				.text-medium{
					font-size: 24px;
				}
			}
		}
	}
	&__card {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 32px 32px 32px 114px;
		width: 360px;
		height: 240px;
		box-shadow: 0px 2.2px 1.6px rgba(15, 15, 15, 0.02), 0px 5px 3px rgba(15, 15, 15, 0.03), 0px 10px 7px rgba(15, 15, 15, 0.04), 0px 17px 13px rgba(15, 15, 15, 0.05), 0px 33px 25px rgba(15, 15, 15, 0.06), 0px 80px 60px rgba(15, 15, 15, 0.08);
		border-radius: 32px;
		@media (min-width:1191px) {
			transition: transform 0.15s;
				&:hover{
					transition: transform 0.15s;
					transform: translateY(-16px);
					&:nth-child(1){ transform: translateY(59px); }
					&:nth-child(4){ transform: translateY(59px); }
					&:nth-child(7){ transform: translateY(59px); }
					&:nth-child(2){ transform: translateY(124px); }
					&:nth-child(5){ transform: translateY(124px); }
					&:nth-child(8){ transform: translateY(124px); }
				}
		}
		&_blue {
			background: $blue;
			color: $white;
			svg{ fill: $white; }
		}
		&_white {
			background-color: $white;
			svg{ fill: $black; }
		}
		&_black{
			background-color: $black;
			color: $white;
			svg{ fill: $white; }
		}
		&_fake{
			box-shadow: none;
			@media (max-width:1190px) {
				display: none;
			}
		}
	}
	a.ourServices__card:hover{
		text-decoration: none;
	}
	a.ourServices__card.ourServices__card_blue:hover{
		background: rgba(63, 105, 255, 0.9);
	}
	a.ourServices__card.ourServices__card_white:hover{
		background: rgba(193, 193, 207, 0.01);
	}
	a.ourServices__card.ourServices__card_black:hover{
		background: rgba(43, 43, 66, 0.9);
	}
}

.label{
	position: absolute;
	left: -24px;
	top: 40px;
	width: 110px;
	height: 64px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0px 8px;
	color: $white;
	font-family: "FixelDisplay-SemiBold";
	@media (max-width:#{$md4}px) {
		left: -12px;
	}
	@media (min-width:1190px) and (max-width:1330px){
		left: -12px;
	}
	@media (min-width:799px) and (max-width:870px){
		left: -12px;
	}
	&_gradient{
		background: linear-gradient(74.3deg, #4CE49B 4.17%, #4EB5FF 27.08%, #933FFF 49.98%, #F20056 72.88%, #FFDA44 95.78%);
	}
	&_black{
		background-color: $black;
	}
	&_blue{
		background-color: $blue;
	}
}

///////////////////////////////////////////////////////////////////////////////

.otherLinks {
	&__header{
		padding-bottom: 19px !important;
	}
	&__footer {
		padding-top: 26px !important;
	}
	&__text{
		max-width: 624px;
	}
	&__marquee{
		padding: 16px;
		overflow: hidden;
		span{
			padding: 16px 32px;
			background: $black;
			margin: 0 8px;
			border-radius: 16px;
			color: $white;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.readyToOrder {
	&__body {
		color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 64px;
		border-radius: 64px;
		gap: 32px;
		background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(43, 43, 66, 0.3) 53.65%), #2B2B42;
		@media (max-width:#{$md3}px) {
			padding: 32px;
			border-radius: 32px;
			gap: 16px;
		}
	}
}

///////////////////////////////////////////////////////////////////////////////

.popup{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	@media (max-width:#{$md3}px) {
	    align-items: flex-end;
	}
	z-index: 100;
	display: none;
	&.active{
		display: flex;
	}
	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.5);
	}
	&__body{
		position: relative;
		z-index: 3;
		background-color: $white;
		border-radius: 32px;
		padding: 32px;
		@media (max-width:#{$md3}px) {
		    border-radius: 32px 32px 0px 0px;
		    padding: 32px;
		    width: 100%;
		    transform: translateY(100%);
		}
		&.show{
			@media (max-width:#{$md3}px) {
			    animation: show-popup 0.15s forwards 0s ease;
			}
		}
		&.hide{
			@media (max-width:#{$md3}px) {
			    animation: hide-popup 0.15s forwards 0s ease;
			}
		}
	}
}

@keyframes show-popup {
	0% {transform: translateY(100%);}
 	100% { transform: translateY(0%);}
}

@keyframes hide-popup {
	0% {transform: translateY(0%);}
 	100% { transform: translateY(100%);}
}

.socialsList{
	display: flex;
	flex-wrap: wrap;
	margin: -16px;
	&__col{
		padding: 16px;
		flex: 1 0 50%;
		@media (max-width:#{$md3}px) {
		    padding: 8px;	
		}
	}
}

.socialCard{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $lightGray;
	border-radius: 24px;
	padding: 24px;
	@media (max-width:#{$md3}px) {
		border-radius: 16px;
	}
	&:hover{
		text-decoration: none;
		background: rgba(136, 136, 158, 0.15);
	}
	.social{
		width: 100px;
		height: 100px;
		padding: 20px;
		&_telegram svg{
			transform: translateX(-4px) scale(0.9);
		}
		&:hover{
			background-color: $black;
		}
		@media (max-width:#{$md4}px) {
			width: 64px;
			height: 64px;
			padding: 12px;
		}
	}
	&__text{
		margin-top: 16px;
	}
}

.social{
	background: $black;
	border-radius: 99px;
	display: inline-block;
	width: 48px;
	height: 48px;
	padding: 12px;
	fill: $white;
	svg{
		width: 100%;
		height: 100%;
	}
	&:hover{
		text-decoration: none;
		background: rgba(43, 43, 66, 0.85);
	}
	&_telegram svg{
		transform: translateX(-2px);
	}
	&_viber{}
}

///////////////////////////////////////////////////////////////////////////////

.footer {
	padding: 48px 0;
	@media (max-width:#{$md3}px) {
		padding: 16px 0;
	}
	&__row {
		display: flex;
		@media (max-width:#{$md2}px) {
		    flex-direction: column;
		}
	}
	&__col{
		flex: 1;
		padding: 16px;
		> *:not(:last-child){
			margin-bottom: 16px;
		}
		a{
			display: inline-block;
		}
		.link-text{
			@media (max-width:#{$md4}px) {
			    display: none;
			}
		}
	}
	&__socials{
		display: flex;
	}
}

///////////////////////////////////////////////////////////////////////////////