.text-huge{
  font-family: "FixelDisplay-SemiBold";
  line-height: 120%;
  font-size: 72px;
  @media (max-width:#{$md3}px) {
      font-size: 36px;
  }
}

.text-medium{
  font-family: "FixelDisplay-SemiBold";
  line-height: 120%;
  font-size: 28px;
}

.text-default{
  line-height: 140%;
  font-size: 18px;
}

.bold{
  font-family: "FixelDisplay-Bold";
}
