.text-huge{
  font-family: "FixelDisplay";
  font-weight: 600;
  line-height: 120%;
  font-size: 72px;
  @media (max-width:#{$md3}px) {
      font-size: 36px;
  }
}

.text-medium{
  font-family: "FixelDisplay";
  font-weight: 600;
  line-height: 120%;
  font-size: 28px;
}

.text-default{
  font-family: 'FixelDisplay';
  font-weight: 400;
  line-height: 140%;
  font-size: 18px;
}

.bold{
  font-family: "FixelDisplay";
  font-weight: 700;
}
